@import '../../css/variables.css';

.intro {
  background: var(--colorBlack);
  color: var(--colorWhite);
}

.intro h1 {
  font-size: 2.75rem;
}

.link {
  border-bottom: 3px solid var(--colorWhite);
}

.tagOneAbout {
  background: var(--colorWhite);
  color: var(--colorBlack);
  margin-top: 15px;
}

@media (--small) {
  .intro h1 {
    font-size: 1.7142rem;
  }
  .link {
    border-width: 2px;
  }
}
